<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white ">
                <div class="container">
                    <!-- Partie du menu à gauche -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('app_accueil_lister') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_list_realisation')}}">Mes réalisations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_acheteur_acheter')}}">Acheter</a>
                        </li>
                    </ul>

                    <!-- Connexion et Inscription à droite -->
                    <ul class="navbar-nav">
                        {% if not app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('app_login')}}">Connexion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('app_register')}}">Inscription</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('app_admin_acheteur_lister')}}">Admin</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        <section>
            {% block body %}{% endblock %}
        </section>
        <footer>

            <div class="reseaux">
                <h2>Mes réseaux sociaux</h2>
                <ul>
                    <li>xxxxx</li>
                    <li>xxxxx</li>
                    <li>xxxxx</li>
                    <li>xxxxx</li>
                </ul>
            </div>
            <div class="contact">
                <h2>Me contacter</h2>
                <ul>
                    <li>xxxxx</li>
                    <li>xxxxx</li>
                    <li>xxxxx</li>
                    <li>xxxxx</li>
                </ul>
            </div>
        </footer>

    </body>
</html>
