{% extends 'base.html.twig' %}

{% block title %}Hello BienController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('acheterRealisation') }}
{% endblock %}
{% block body %}
    <div class="acheter-realisation ">
        <div class="card-acheter">
            <img class="card-img-top" src="{{ asset('uploads/realisations/' ~ realisation.imageRealisation) }}" alt="Card image cap">
            <h1>{{ realisation.nom }}</h1>
            <p>{{ realisation.description }}</p>
            <p>Prix : {{ realisation.prix }} €</p>
            <a href="{{path('app_acheteur_acheter')}}" class="btn btn-primary">Acheter</a>
        </div>
    </div>

{% endblock %}
